body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center
}
.container{
    width: 400px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    border: 1PX solid #000000;
    box-shadow: 0 10px 30px rgba(4, 255, 0, 0.881);
}

h1{
    color: #2efa0a;
    text-align: center;
}

h3{
    color: #ffffff;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

.card {

    padding: 15px;
    border-radius: 5px;
 
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #2fff00;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: o.3s;
}

button:hover{
    background-color: #008407;
    color: #ffffff;
}

ul{
    list-style: none;
    padding: 0;

}

li{
    padding: 5px 0;
    color: #ccc;
}

input, select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #37ff00;
    background-color: #000000;
    color: white;
    box-sizing: border-box;
}
hr{
   border: 0;
   border-top: lpx solid #000000;
   margin: 20px 0; 
}

